@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Righteous&display=swap');

/*
中文字體 
font-family: "Noto Sans TC", sans-serif;
英文字體
font-family: "Righteous", sans-serif;
英中文字體
font-family: "Righteous", "Noto Sans TC", sans-serif;
*/
h1{
    font-family: "Righteous", "Noto Sans TC", sans-serif;   
}
